.section__best {
    padding: 70px 0 70px 0;

    &-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    &-box{
        display: flex;
        margin: -15px;
        letter-spacing: -0.36em;
        
    }

    &-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
        padding: 30px;
        letter-spacing: normal;
        
    }

    &-picture {
        display: block;
        line-height: 0;
        padding-bottom: 100%;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
    }


    &-pic {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        
    }

    &-title {
        padding: 40px 42px 60px;
        text-align: center;
    }

    &-text {
        font-size: 18px;
        font-weight: 700;
    }

    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}