.box-head {

    text-align: center;
    margin-bottom: 60px;

    &__caption {
        font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 48px;
        line-height: 1.4;
        margin-bottom: 25px;
        color: #FFFFFF;
    }

    &__desk {
        max-width: 632px;
        margin: 0 auto;
        
    }
}

@media (max-width: 768px) {
    .box-head {

        &__desk {
            max-width: 542px;
        }
    }
} 

@media (max-width: 425px) {
    .box-head {

        &__caption {
            font-size: 28px;
        }

        &__desk {
            max-width: 355px;
        }
    }
}

@media (max-width: 425px) {
    .box-head {

        &__caption {
            font-size: 25px;
        }

       
    }
}