.btn {
    @include border(1px, $color_red);
    background-color: $color_red;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.3;
    padding: 21px 49px 20px;
    text-align: center;
    transition: .3s;

    

    &:hover {
        background-color: rgba(184, 33, 33, .1);
        border-color: rgba(184, 33, 33, .1);
    }

}