.swiper {
    width: 100%;
    height: 100%;

    &-slide {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // -webkit-box-pack: center;
        // -ms-flex-pack: center;
        // -webkit-justify-content: center;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // -webkit-align-items: center;
        width: 288px;
        height: 508px;

        &__img-wrap {
            display: block;
            line-height: 0;
            
        }

        

        &__img {
            width: 100%;
            height: 508px;
            object-fit: cover;
            
        }

        &__text {
            font-weight: 800px;
            font-size: 24px;
            line-height: 2.9;
            color: #FFFFFF;
            position: relative;
            top: -78px;
            text-align: center;
        }
    }

    
}

