@media (max-width: 1024px) {

    .header {
        position: relative;

        &__nav {
            display: none;

            &--open {
                display: block;
                position: absolute;
                right: 0;
                top: calc(100% + -10px);
                background-color: #000;
                border-radius: 5px;
            }

            &-list {
                display: block;
                min-height: 140px;
            }

            &-item {
                padding: 0;
            }

            &-link {
                display: block;
                padding: 4px 15px;
            }
        }


        &__social {
            margin-left: auto;
            margin-right: 15px;

            &-item {
                margin-left: 13px;
            }

            &-number {
                display: none;
            }
        }

        &__btn-menu {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            left: 0;
            transition: .3s;
            flex-shrink: 0;

            &-line {
                width: 100%;
                height: 3px;
                background-color: #fff;
                border-radius: 2px;
                position: absolute;
                left: 0;
                transition: .3s;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 9px;
                }

                &:nth-child(3) {
                    top: 18px;
                }
            }

            &--open {
                .header__btn-menu-line:nth-child(1) {
                    transform: rotate(45deg);
                    top: 9px;
                }

                .header__btn-menu-line:nth-child(2) {
                    display: none;
                }

                .header__btn-menu-line:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 9px;
                }
            }
        }
        
    }
}

@media (max-width: 768px) {
    
    
}

@media (max-width: 425px) {

    .hero {
        background-image: url(../image/hero/hero2.jpg);
        background-position: inherit;
    }

    .header {

        &__btn-menu {
            margin-left: 30px;
        }
    }

    
    .content {
        align-items: center;
        justify-content: center;
        padding: 140px 0 150px 0;

        &__box {
            align-items: center;

            &-caption {
                max-width: 355px;
                font-size: 34px;
                text-align: center;
                margin-bottom: 20px;
            }

            &-desc {
                max-width: 355px;
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 375px) {
    .header {

        &__social {            
            margin-left: 15px;
           
        }
    }
}

@media (max-width: 320px) {
    .header {

        &__social {
            margin: 0 10px 0 10px;
            

            &-item {
                margin-left: 7px;
            }
        }

        &__btn-menu {
            margin-left: 4px;
        }
    }

    .content {

        &__box-caption {
            font-size: 28px;
        }

        &__box-desc {
            font-size: 13px;
            margin-bottom: 40px;
        }
    }
}