@media (max-width: 768px) {
    .section__best {

        &-box {
            flex-wrap: wrap;
            justify-content: center;
        }

        &-text {
            padding: 0 220px;
        }

       
    }
   
}

@media (max-width: 425px) {
    .section__best {

        &-text {
            padding: 0 45px;
        }

    }
}

@media (max-width: 320px) {

    .section__best {

        &-text {
            font-size: 17px;
        }

    }
    
}