@media (max-width: 1024px) {
    .section {

        &__best {

            &-text {
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 768px) {
    .section {

        &__best {

            &-title {
                padding: 40px 1px;
            }

            &-text {
                font-size: 12px;
            }
        }

       
    }
   
}

@media (max-width: 425px) {
    .section__best {

        &-box {
            flex-wrap: wrap;
        }

        &-col {
            width: 100%;
        }

        &-text {
            font-size: 18px;
        }
      
    }
}

@media (max-width: 320px) {

    .section__best {

        &-text {
            font-size: 17px;
        }

    }
    
}